<!DOCTYPE html>
<html>
<head>
  <title>Bem-vindo</title>
</head>
<body>
<h1>Bem-vindo ao nosso serviço</h1>
<p>Olá <%= @municipe.nome_completo %>,</p>
<p>Seja bem-vindo ao nosso serviço!</p>
</body>
</html>